*,
*::before,
*::after {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: red;
  --white: white;
  --bg: black;
  --shadow: red;
  --body-font: 'Roboto Mono', monospace;
  --title-font: 'Climate Crisis', cursive;
}

html {
  font-family: var(--body-font);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #444;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

body {
  font-size: 1.6rem;
  background: var(--bg);
  overflow: hidden;
}

.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  background: transparent;
}

.hero-full-screen .middle-content-section {
  height: 80vh;
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 640px) {
  .middle-content-section {
    zoom: 1.1;
  }
}

@media (min-width: 1024px) {
  .middle-content-section {
    zoom: 1.3;
  }
}

@media (min-width: 1440px) {
  .middle-content-section {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  .middle-content-section {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  .middle-content-section {
    zoom: 2.5;
  }
}

.hero-title {
  font-family: var(--title-font);
  font-size: 2rem;
  text-shadow: 1px 1px 2px var(--shadow);
}

.hero-full-screen .top-content-section {
  height: 10vh;
  width: 100%;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: var(--white);
  text-shadow: var(--shadow);
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
  background-color: var(--shadow);
  font-family: var(--body-font);
}

/* SWIPER */
.results-section {
  max-width: 100vw;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.results-heading {
  font-family: var(--title-font);
  font-size: 2rem;
  color: var(--white);
  text-shadow: 1px 1px 2px var(--shadow);
  padding: 0;
}

#results-container {
  padding: 1rem 0;
  display: none;
}

@media (max-width:1440px) {
  #results {
    padding: 7rem 0;
  }
}

#results .results-slider {
  height: 35rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #results .results-slider {
    height: 38rem;
  }
}

.result-slide {
  width: 30rem;
  height: 30rem;
  position: relative;
}

@media (max-width:500px) {
  .result-slide {
    width: 21rem !important;
    height: 21rem !important;
  }

  .result-slide .result-slide-img img {
    width: 21rem !important;
    height: 21rem !important;
  }
}

.result-slide .result-slide-img img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

.result-slide .result-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.result-slide .result-slide-content .slide-text {
  font-family: var(--body-font);
  width: 17rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px var(--bg);
}

.result-slide .result-slide-content h1 {
  font-size: 1.5rem;
  text-align: right;
}

.result-slide-content .album-artist {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: .5rem;
  color: var(--white);
  font-family: var(--body-font);
}

.result-slide-content .result-slide-content-bottom {
  padding-left: .5rem;
  position: absolute;
  bottom: .5rem;
  left: 0;
  color: var(--white);
}

.result-slide-content .result-slide-content-bottom h2 {
  font-size: 1.5rem;
  text-align: left;
}

.track-options {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

ul {
  display: flex;
  margin-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  line-height: 1rem;
}

ul li {
  margin-right: 1rem;
}

.result-slide-shadow-left,
.result-slide-shadow-right {
  display: none;
}

.result-slider-control {
  position: relative;
  bottom: -1rem;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .result-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .result-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .result-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .result-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.result-slider-control .slider-arrow {
  background: var(--bg);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
}

.result-slider-control .slider-arrow i {
  font-size: 2rem;
  color: var(--white);
  filter: drop-shadow(0px 8px 24px red);
}

.result-slider-control .slider-arrow::after {
  content: '';
}

.result-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: .3rem;
}

.result-slider-control .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--white);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.result-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* PAGE FOOTER CLASSES*/
.main-footer {
  height: 10vh;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-footer .main-footer-text .team {
  font-family: var(--body-font);
  text-align: center;
  margin-right: 2rem;
  color: blue;
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* MODAL CLASSES */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: red;
  background-color: salmon;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}